.nameChanger {

}

.nameChangerNameDiv {
    width: 200px;
}

.nameChangerNameDiv > p {
    margin-bottom: 0;
}

.nameChangerList {
    display: flex;
    flex-direction: column;
}

.nameChangerRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nameChangerRow a {
    text-decoration: none;
    color: red;
}

.nameChangerDeleteUserButton {
    color: #c40000;
    cursor: pointer;
}

.nameChangerDeleteUserButton:hover {
    color: red;
}

.nameChangerRow > * {
    margin-right: 10px;
    margin-bottom: 0;
}